<header>
    <div class="container">
        <div id="branding">
            <a href={{ .Site.BaseURL }}>
                <h1>Chris Lindgren</h1>
            </a>
        </div>
        <nav>
            <ul>
                {{ $p := . }}
                {{ range .Site.Pages.ByWeight  }}
                    {{ $current := eq $p.Permalink .Permalink}}
                    {{ if and (eq .Type "page") (not (eq .Permalink .Site.BaseURL ))}}
                    <li {{ if $current }} class="current" {{ end }}>
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </li>
                    {{ end }}
                {{ end }}
            </ul>
        </nav>
    </div>
</header>
