{{ define "main" }}
<!-- Image Links -->
<link rel="stylesheet" href="/css/index.css">
<section>
    <div id="showcase">
        <div class="container">
            <div id="image-links">
                <div class="box">
                    <a href="harpist">
                        <img src="/images/harpist_portrait.png">
                    <h2>Harpist</h2>
                    </a>
                </div>
                <div class="box">
                    <a href="storyteller">
                        <img src="/images/chris_storyteling.jpg">
                        <h2>Storyteller</h2>
                    </a>
                </div>
                <div class="box">
                    <a href="cd">
                        <img src="/images/AlbumCover.jpg">
                        <h2>CD</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
